body {
  font-family: "Barlow Condensed", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e3e3e3;
}
footer {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row-reverse;
}

.right__container {
  width: 1156px;
  height: 1526px;
}

.left__container {
  width: 541px;
  height: 1526px;
}

.rs__img {
  width: 198px;
  height: 104px;
}
